.container-appointments_box {
  padding-right: 96px;
  padding-left: 96px;
  padding-top: 50px;
}

.container-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item-list {
  display: flex;
  justify-content: space-between;
  min-height: 96px;
  border: 1px solid $secondaryGrey;
  padding: 24px;
  border-radius: 12px;
  .item-section {
    width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
  }
  .item-title {
    color: $octonaryGrey;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
  .item-description {
    color: #000000;
    font-style: 14px;
    font-weight: 600;
    line-height: 16px;
  }
  select{
    text-align: center;
  }
  option{
    cursor: pointer;
  }

  /*  select {
    appearance: none;
    width: 100px;
    background-image: url("../assets/select.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 85%;
    padding-left: 10px;
  } */
}

.box-title {
  margin-bottom: 24px;
}
