@import "./colors";

.btn-primary {
  height: 44px;
  border: none;
  border-radius: 8px;
  background-color: $primaryColor;
  color: white;
  font-size: 16px;
  font-weight: 600;
  &:hover {
    background-color: $secondaryColor;
  }
  &:active {
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.24);
  }
  &:disabled {
    background-color: $tertiaryGrey;
    color: $senaryGrey;
  }
}

.btn-secondary {
  height: 44px;
  border: none;
  border-radius: 8px;
  background-color: rgba($color: $primaryColor, $alpha: 0.1);
  color: $primaryColor;
  font-size: 16px;
  font-weight: 600;
  &:hover {
    background-color: rgba($color: $secondaryColor, $alpha: 0.2);
  }
  &:active {
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.24);
  }
  &:disabled {
    background-color: $tertiaryGrey;
    color: $senaryGrey;
  }
}

.btn-tertiary {
  height: 16px;
  border: none;
  color: $primaryColor;
  background: none;
  font-size: 14px;
  font-weight: 600;
  &:hover {
    color: $secondaryColor;
  }
  &:active {
    color: $primaryColor;
  }
  &:disabled {
    color: $senaryGrey;
  }
}

.btn-quaternary {
  height: 44px;
  border: none;
  border-radius: 8px;
  background-color: $primaryGrey;
  color: $primaryColor;
  font-size: 16px;
  font-weight: 600;
  &:hover {
    background-color: $secondaryGrey;
  }
  &:active {
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.24);
  }
  &:disabled {
    background-color: $tertiaryGrey;
    color: $senaryGrey;
  }
}


