$errorColor: #e53939;
$successColor: #00a541;
$primaryColor: #a442f1;
$secondaryColor: #cc6aff;
$primaryGrey: #f5f5f5;
$secondaryGrey: #f0f0f0;
$tertiaryGrey: #e1e1e1;
$cuaternaryGrey: #c8c8c8;
$quinaryGrey: #afafaf;
$senaryGrey: #8c8c8c;
$septenaryGrey: #6e6e6e;
$octonaryGrey: #505050;
$nonaryGrey: #282828;
$primaryBlack: #000000;
$primaryWhite: #FFFFFF;

.bg-grey2{
    background-color: $secondaryGrey;
}
