@import "./colors";

.button-day {
  appearance: none;
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5rem;
}
.calendary-days {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 40px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $nonaryGrey;
  background: none;
  &:hover {
    background-color: $tertiaryGrey;
    color: $primaryColor;
  }
  &:disabled {
    background-color: $secondaryGrey;
    color: $quinaryGrey;
  }
}


.dayPicked {
   color: white;
    background-color: $primaryColor;
}