.primary {
  width: 112px;
}

.secondary {
  width: 125px;
}

.tertiary {
  width: 178px;
}

.cuaternary {
  width: 183px;
}

.quinary {
  width: 200px;
}
.senary {
  width: 250px;
}

.septenary {
  width: 291.5px;
}

.octonary {
  width: 317px;
}

.nonary {
  width: 382px;
}

.ten {
  width: 516px;
}

.eleven {
  width: 599px;
}

.twelve {
  width: 798px;
}

.padding-one {
  padding-right: 24px;
  padding-left: 24px;
}

.width-100{
  width: 100%;
}



