@import "./colors";

.header-box {
  height: 76px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  background-color: white;
  display: flex;
  align-items: center;
  .nav-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  a {
    text-decoration: none;
    font-weight: 600;
    font-style: 14px;
    line-height: 16px;
    font-family: 'Roboto';
    color: #000000;
  }
  button{
    margin-left: 96px;
  }
  .options{
    margin-right: 80px;
    display: flex; 
    align-items: center;
    gap: 20px;
    .options-item{
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

}
 