@import "./colors";

.container-modal {
  position: relative;
  position: fixed;
  width: 381px;
  height: 252px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: black;
  z-index: 999;
  .icon {
    font-size: 40px;
    color: $successColor;
    margin-bottom: 28px;
  }
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  width: 381px;
  height: 252px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 32px;
  border-radius: 8px;
  max-width: 600px;
  h2 {
    font-size: 18px;
    margin-bottom: 4px;
  }
  p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 24px;
  }
}

.container-modal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
