@import "./colors";

.bg-grey2{
    background-color: $secondaryGrey;
}

.reserva-title{
    margin: 0 auto;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-top: 5rem;
    width: 100%;
}

.content-container{
    display: flex;
    flex-wrap: wrap;
    column-gap: 5rem;
    row-gap: 2.5rem;
    max-width: 80%;
    margin: 0 auto;
}

.reserva-title-2{
    font-size: 18px;
    font-weight: 600;
}

.reserva-title-3{
    font-size: 14px;
    font-weight: 400;
}

.reserva-form-container{
    margin: 0 auto;
    background-color: white;
    min-width: 457px;
    min-height: 362px;
    border-radius: 8px;
    padding: 32px 40px;
    gap: 32px;
    max-width: 65%;
    flex-grow: 1;
}

.calendar-container{
    margin: 0 auto;
    min-width: 457px;
    min-height: 362px;
    background-color: white;
    border-radius: 8px;
    gap: 10px;
    padding: 32px;
    text-align: center;
    max-width: 45%;
    max-height: 428px;
    flex-basis: 35%;
}

.grid-container{
    margin-top: 2rem;
    list-style: none;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(6, 1fr);
    padding: 0;
}

.day-name{
    color: $septenaryGrey;
}

.w100{
    width: 100%;
    margin: 0 auto;
  }

  .w50{
    width: 50%;
    margin: 0 auto;
  }

  .w95{
    width: 95%;
    margin: 0 auto;
    column-gap: 1rem
  }

  .formReserva > div {
    display: flex;
  }
  
.countdown-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
    
.sc{
  background-color: $secondaryColor;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  margin-top: 5rem;
}

.color-grey4{
    color: $cuaternaryGrey;
}

.checkboxStage2 {
appearance: none;
width: 32px;
height: 32px;
background: #A442F1;
border-radius: 8px;
border: none;
color: white;
}
.checkboxStage {
appearance: none;
width: 32px;
height: 32px;
background: $cuaternaryGrey;
border-radius: 8px;
border: none;
color: white;

}

.lineStage2 {
    position: absolute;
    width : 100%;
    height: 2px;
    background-color: #A442F1;
    border: 0;
    z-index: -1;
}
.lineStage {
    position: absolute;
    width : 100%;
    height: 2px;
    background-color: $cuaternaryGrey;
    border: 0;
    z-index: -1;
}


.containerMother {
   display: flex;
   width: 100%;
}

.checkboxContainer { 
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33.3%
}


.violet {
appearance: none;
width: 4rem;
height: 4rem;
background: #A442F1;
border-radius: 8px;
border: none;
color: white;

}

.gray {
appearance: none;
width:  4rem;
height:  4rem;
border-radius: 8px;
border: none;
color: white;
background: gray;
}

.green {
appearance: none;
width:4rem;
height:4rem;
border-radius: 8px;
border: none;
color: white;
background: green;
}

.violetLine {
    position: absolute;
    width : 100%;
    height: 2px;
    background-color: #A442F1;
    border: 0;
    z-index: -1;
}

.greyLine {
    position: absolute;
    width : 100%;
    height: 2px;
    background-color: $cuaternaryGrey;
    border: 0;
    z-index: -1;
}

.greenLine {
    position: absolute;
    width : 100%;
    height: 2px;
    background-color: green;
    border: 0;
    z-index: -1;
}

.fontViolet {
  top: 50px;
  position: absolute;
  color:#A442F1;
}

.fontGray {
  top: 50px;
  position: absolute;
  color: gray;
}

.fontGreen {
  top: 50px;
  position: absolute;
  color: green
}
