@import "./colors.scss";
@import "./form";
@import "./header";
@import "./button";
@import "./checkbox";
@import "./days";
@import "./inputs";
@import "./register";
@import "./extents";
* {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
